html {
  min-height: 100%;
}

body {
  background: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

input[type="text"] {
  background-color: rgba(10, 10, 10, 0.8) !important;
  color: #eee !important;
  border: 0;
  border-radius: 5px;
}

input:focus,
button {
  box-shadow: none !important;
}

.lyrics-container {
  display: flex;
  justify-content: center;
}

.lyrics {
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  display: inline-block;
  max-height: 100%;
  box-sizing: border-box;
}

.lyrics-content {
  padding: 10px 50px 10px 50px;
  overflow: auto;
  width: 100%;
}

.lyrics-content > pre {
  height: 80vh;
  overflow: visible;
  color: #eee;
}

.spinner {
  text-align: center;
}
